
    
    <section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Find a hotel</h2>
   
    </div> 
    </section>

    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <div class="col-md-3">
            
    <!-- <div class="card">
        <article class="filter-group">
            <header class="card-header">
               
          
                    <h6 class="title">Search</h6>
             
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <form class="pb-3">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                    </form>
                  
    
                </div> 
            </div>
        </article>
     
   
       
    </div>  -->
    
  </div> <!-- col.// -->
        <main class="col-md-9">
    <div *ngFor="let hotel of hotelList" class="card card-hotel-list" > <!-- row.// -->
        <div class="row no-gutters">
            <div class="col-md-3">
                <a href="#" class="img-wrap">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"></a>
            </div> 
            <div class="col-md-6">
                <div class="info-main">
                    <a (click)="openHotelDetails(hotel)" class="h5 title"> {{hotel.title}}  </a>
                    <p> {{hotel.info}}</p>
                    <p>Types of Rooms available: {{hotel.rooms.length}}</p>
                </div> 
            </div> 
          
        </div> 
        
      </div>
    

        </main> 
    
    </div>
    
    </div> <!-- container .//  -->
    </section>

