
    <div class="content">
        <div class="about">
        <div class="image">
            <img src="https://t-cf.bstatic.com/xdata/images/hotel/max1280x900/77802190.jpg?k=2e26b88f833a8581e78fe25eb44769440f8a8dee2d341695a486382fb2caa184&o=&hp=1">
        </div>
        <div class="information">
            <h1>{{this.hotel.title}}</h1>
            <p>{{this.hotel.info}}</p>
        </div>
    </div>
    <div class="booking">
        <form class="example-form"> 
    
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start"  [(ngModel)]="startD" placeholder="Start date" >
                  <input matEndDate formControlName="end"  [(ngModel)]="endD" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>
              
              <p>You have selected: {{range.value | json}}</p>
              <!-- <input id="number" type="number" value="1"> -->
              <button  class="btn btn-primary btn-lg btn-block"  (click)="submit(range.value)">Check if available</button>
           
        </form>
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="this.room"
        >
        <mat-radio-button class="example-radio-button" *ngFor="let r of roomsAvailable"  [value]="r">
          {{r.roomType}}
        </mat-radio-button>
      </mat-radio-group>
    
       <form>
          
           <h1>
            <p>{{this.available}} rooms were available for these dates</p>
           </h1>
           <div *ngIf="this.available >= 1">
            
            
            
            <mat-form-field class="example-full-width" appearance="fill">
              
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <p>By making this booking you consent to storing your email address!</p>
              <button  class="btn btn-primary btn-lg btn-block"  (click)="MakeBooking(emailFormControl.value)">Make reservation</button></div>

             
              
       </form>
    </div>
    </div>
  